#{extends 'main.html' /}
#{set title:'Home' /}

<h1>A blog will be here</h1>


#{if frontPost}

<div class="post">
  <h2 class="post-title"><a href="@{Application.show(frontPost.id)}">${frontPost.title}</a></h2>

  <div class="post-metadata">

    <span class="post-author">作者 ${frontPost.author.fullname}</span>
    <span class="post-date">${frontPost.postedAt.format('MMM dd')}</span>
      <span class="post-comments">
                &nbsp;|&nbsp;
      评论数: ${frontPost.comments.size() ?: '暂无评论'}
      #{if frontPost.comments}
        ,最后评论者: ${frontPost.comments[-1].author}
      #{/if}
        </span>
  </div>

  <div class="post-content"> ${frontPost.content}</div>

</div>

    #{if olderPosts}
    <div class="older-posts">
      <h3>Older posts <span class="from">from this blog</span></h3>
        #{list items:olderPosts, as:'oldPost'}
          <div class="post">
            <h2 class="post-title"><a href="@{Application.show(oldPost.id)}">${oldPost.title}</a></h2>

            <div class="post-metadata">
              <span class="post-author">作者 ${oldPost.author.fullname}  </span>
              <span class="post-date">  ${oldPost.postedAt.format('dd MMM yy')}  </span>

              <div class="post-comments">
                评论数:  ${oldPost.comments.size() ?: '暂无评论'}
                  #{if oldPost.comments}
                    ,最后评论者: ${oldPost.comments[-1].author}
                  #{/if}
              </div>
            </div>
          </div>
        #{/list}
    </div>
    #{/if}

#{/if}

#{else}
<div class="empty"> 暂 无 数 据</div>
#{/else}



