#{extends 'main.html' /}
#{set title:post.title /}



<ul id="pagination">
#{if post.previous()}         
  <li id="previous"> 
     <a href="@{Application.show(post.previous().id)}">${post.previous().title}</a>       
  </li>
#{/if} 
     
#{if post.next()}        
  <li id="next"> 
     <a href="@{Application.show(post.next().id)}">${post.next().title}</a>           
  </li>   
#{/if}
  
</ul>

<div class="post">
  <h2 class="post-title">${post.title}</h2>

  <div class="post-metadata">
    <span class="post-author">作者 ${post.author.fullname}</span>
    <span class="post-date">${post.postedAt.format('MMM dd')}</span>
  </div>

  <div class="post-content"> ${post.content}</div>

</div>


<h3> 评论</h3>
<div class="comment">

 #{list items:post.comments, as:'comment'}
  <div class="comment-metadata">
    <span class="comment-author">${comment.author}</span>
    <span class="post-date">${comment.postedAt.format('dd MMM yy')}</span>
  </div>
  <div class="comment-content">${comment.content}</div>

 #{/list}

</div>


#{if flash.success}
   <p class="success">${flash.success}</p>
#{/if}


<h3>发表评论</h3>
#{form @Application.postComment(post.id)}
   #{ifErrors}
    <p class="error"> ${errors[0]}</p>
   #{/ifErrors}
<p>
  <label for="author">你的名字: </label>
  <input type="text" name="author" id="author" value="${author?:''}"/>
</p>
<p>
  <label for="content">留言: </label>
  <textarea name="content" id="content">${content?:''}</textarea>
</p>
<p>
  <label for="code">请输入下面的验证码: </label>
  <img src="@{Application.captcha(randomID)}"/> <br/>
  <input type="text" name="code" id="code" size="18" value=""/>
  <input type="hidden" name="randomID" value="${randomID}"/>
</p>
<p>
  <input type="submit" value="评论"/>
</p>
#{/form}


<script type="text/javascript" charset="utf-8">
  $(function(){
    // Expose the form
    $('form').click(function(){
      $('form').expose({api: true}).load();
    });

    // If there is an error, focus to form
    if($('form .error').size()){
      $('form').expose({api: true, loadSpeed: 0}).load();
      $('form input[type=text]').get(0).focus();
    }
  });
</script>